# Virtual environment
venv/

# Environment secrets — MOST IMPORTANT
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Alembic
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Test files
test_db.py
.early.coverage